
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.desktop-1-44w {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;

  .rectangle-30-Tcs {
    width: 100%;
    height: 0.2rem;
    background-color: #000000;
    flex-shrink: 0;
  }
  .auto-group-gdou-k6B {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.8rem 3.6rem 35.7rem 3.7rem;

    .auto-group-8wtx-zej {
      margin: 0rem 4.5rem 14.5rem 5.1rem;
      width: calc(100% - 9.6rem);
      height: 13.6rem;
      position: relative;
      flex-shrink: 0;

      .mrk-maros-button-tEK {
        font-weight: 100;
        color: #000000;
        font-family: Outfit, 'Source Sans Pro';
        width: 12.7rem;
        position: absolute;
        text-align: center;
        font-size: 2.4rem;
        line-height: 2.75;
        white-space: nowrap;
        height: 6.6rem;
        left: 4.55rem;
        top: 0;
      }
      .below-you-can-see-some-of-my-styling-work-ig-marosmark-based-in-budapest-UyD {
        line-height: 1.6666666667;
        font-family: Outfit, 'Source Sans Pro';
        width: 22.4rem;
        height: 8rem;
        position: absolute;
        top: 5.6rem;
        font-size: 1.2rem;
        font-weight: 100;
        left: 0;
        text-align: center;
        color: #000000;
      }
    }
    .auto-group-h663-XwV {
      width: calc(100% - 1rem);
      height: 15.4rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0.6rem 0.1rem 0.4rem;

      .rectangle-21-F6o {
        width: 30.9rem;
        height: 0.8rem;
        position: absolute;
        left: 0;
        top: 2.9rem;
        background-color: #e2e2e2;
      }
      .style-me-model-buynaabtb-agency-visagemodelshungary-photo-oliverpetrikovits-9xs {
        font-weight: 100;
        line-height: 13.2;
        color: #000000;
        white-space: nowrap;
        width: 19.6rem;
        height: 6.6rem;
        left: 0.2rem;
        font-family: Outfit, 'Source Sans Pro';
        position: absolute;
        top: 0;
        font-size: 0.5rem;
      }
      .cimg3971-crT {
        height: 8.5rem;
        position: absolute;
        left: 0.3rem;
        top: 6.9rem;
        object-fit: cover;
        vertical-align: top;
        width: 11.2rem;
      }
      .img2220editbw-wNw {
        height: 7.7rem;
        position: absolute;
        left: 11.6rem;
        top: 7.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 11.6rem;
      }
      .img2286-edit-4TZ {
        object-fit: cover;
        vertical-align: top;
        width: 7.7rem;
        height: 11.6rem;
        position: absolute;
        left: 23.3rem;
        top: 3.8rem;
      }
    }
    .auto-group-cn7h-Bo5 {
      width: calc(100% - 8.5rem);
      height: 11.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7.8rem 23.4rem 0.7rem;

      .img2215-fy9 {
        width: 7.7rem;
        height: 11.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-iadd-pLF {
        box-sizing: border-box;
        padding-left: 0.1rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .img2129-ZHq {
          margin-right: 0.2rem;
          width: 7rem;
          height: 9.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .cimg3979-gtF {
          width: 8.5rem;
          height: 11.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-1gm5-2SK {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0.5rem 0.3rem 0.5rem;
      width: calc(100% - 1rem);
      height: 1.6rem;

      .rectangle-22-YvT {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f2e8e5;
        width: 31rem;
        height: 1.5rem;
      }
      .theme-schiaparelli-style-me-liluspll-model-bogibauer-agency-visagemodelshungary-photo-fabiansomaa-hair-and-makeup-annapatakimua-credits-gyorok-kissmark-VKu {
        line-height: 1.6;
        width: 25.8rem;
        left: 0.1rem;
        font-size: 0.5rem;
        font-weight: 100;
        font-family: Outfit, 'Source Sans Pro';
        height: 1.6rem;
        position: absolute;
        top: 0;
        color: #000000;
      }
    }
    .auto-group-jcij-hRy {
      flex-shrink: 0;
      margin: 0rem 0.5rem 0.6rem 0.5rem;
      width: calc(100% - 1rem);
      height: 11.4rem;
      display: flex;
      align-items: center;

      .auto-group-gmzw-d4j {
        padding-right: 0.3rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;

        .mg7175javitott-ZDH {
          width: 7.6rem;
          height: 11.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.3rem;
        }
        .mg7430javitott-goh {
          flex-shrink: 0;
          margin-right: 0.2rem;
          width: 7.4rem;
          height: 11.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .mg7572javtott-26s {
          flex-shrink: 0;
          width: 7.6rem;
          height: 11.3rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .mg7718javitott-xFR {
        width: 7.6rem;
        height: 11.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-ufew-gBR {
      margin: 0rem 0.5rem 36.2rem 0.5rem;
      width: calc(100% - 1rem);
      height: 21.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-gqyj-bZH {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 15.3rem;
        height: 100%;

        .auto-group-qxdm-w7M {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 100%;

          .mg8191-GfR {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.3rem;
            width: 7.6rem;
            height: 11.5rem;
          }
          .mg8456-bxb {
            width: 7.4rem;
            height: 11.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .mg7904-LfH {
          width: 15.3rem;
          height: 10.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .mg7962-UmV {
        width: 15.5rem;
        height: 21.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-body-d8b {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 100%;
      height: 1.1rem;

      .rectangle-32-a3q {
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: #e8e8e8;
        width: 32rem;
        height: 1rem;
      }
      .style-me-model-gigorgabriella-agency-visagemodelshungary-photo-oliverpetrikovits-credit-daalarna-WiB {
        font-size: 0.5rem;
        font-weight: 100;
        font-family: Outfit, 'Source Sans Pro';
        top: 0;
        height: 0.8rem;
        position: absolute;
        left: 0.1rem;
        line-height: 1.6;
        color: #000000;
        white-space: nowrap;
        width: 24.2rem;
      }
    }
    .auto-group-g2fq-yLs {
      width: 100%;
      height: 19.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.2rem;

      .auto-group-pqyy-7hy {
        box-sizing: border-box;
        padding: 9.5rem 0.3rem 0rem 0rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .cimg7983-SkF {
          margin-right: 0.2rem;
          width: 7.2rem;
          height: 9.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .cimg8028-nZD {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 7.1rem;
          height: 9.6rem;
        }
      }
      .cimg8042-editbw-Kp3 {
        flex-shrink: 0;
        width: 17.2rem;
        height: 19.1rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-lxro-fsu {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .cimg8064glow-crop-ERD {
        width: 16.9rem;
        height: 25.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
      }
      .cimg7960-Apf {
        margin-bottom: 0.1rem;
        width: 14.7rem;
        height: 24rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-m8rb-6TR {
    margin-bottom: 0.1rem;
    width: 100%;
    height: 1.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-33-SnB {
      position: absolute;
      left: 0;
      top: 0.1rem;
      background-color: #e8e8e8;
      width: 39.3rem;
      height: 1rem;
    }
    .style-me-model-gigorgabriella-and-danielheisz-agency-visagemodelshungary-photo-hyphotograph-hairmakeup-dorogiblankamua-credit-retrotetikul-Bjm {
      position: absolute;
      top: 0;
      font-weight: 100;
      line-height: 1.6;
      color: #000000;
      white-space: nowrap;
      width: 36.3rem;
      height: 0.8rem;
      left: 0;
      font-size: 0.5rem;
      font-family: Outfit, 'Source Sans Pro';
    }
  }
  .collage-1-dbm {
    flex-shrink: 0;
    width: 39.3rem;
    height: 22.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .auto-group-eqek-Yyd {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 19.3rem 3.4rem 0.8rem 2.6rem;
    width: 100%;

    .auto-group-bmpm-cCo {
      margin: 0rem 0.8rem 0.3rem 1.5rem;
      width: calc(100% - 2.3rem);
      height: 17.6rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-20-Woy {
        left: 0;
        top: 2.9rem;
        background-color: #eae3de;
        width: 30.9rem;
        height: 0.8rem;
        position: absolute;
      }
      .style-me-model-johannaszikszai-agency-visagemodelshungary-photo-oliverpetrikovits-rN3 {
        white-space: nowrap;
        height: 6.6rem;
        position: absolute;
        top: 0;
        font-size: 0.5rem;
        font-weight: 100;
        line-height: 13.2;
        color: #000000;
        width: 20.4rem;
        left: 0.2rem;
        font-family: Outfit, 'Source Sans Pro';
      }
      .img5781-735 {
        object-fit: cover;
        vertical-align: top;
        width: 10.1rem;
        height: 13.5rem;
        position: absolute;
        left: 0;
        top: 4.1rem;
      }
      .cimg6313-SLF {
        position: absolute;
        left: 10.4rem;
        top: 4rem;
        object-fit: cover;
        vertical-align: top;
        width: 10.1rem;
        height: 13.6rem;
      }
      .cimg6294-9VZ {
        height: 13.6rem;
        position: absolute;
        left: 20.9rem;
        top: 4rem;
        object-fit: cover;
        vertical-align: top;
        width: 10.1rem;
      }
    }
    .auto-group-spr9-GaB {
      width: calc(100% - 2.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.8rem 0.4rem 1.5rem;

      .img5737edit-noR {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
        width: 10.1rem;
        height: 13.5rem;
      }
      .cimg6264-2-vej {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 10.1rem;
        height: 13.5rem;
      }
      .cimg6226-rYP {
        width: 10.1rem;
        height: 13.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-pyef-PoD {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.9rem 37.1rem 1.5rem;
      width: calc(100% - 2.4rem);

      .r1-01528-025a-1-XeX {
        width: 14.4rem;
        height: 21.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .cimg6274-4eT {
        width: 15.3rem;
        height: 21.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-bf5y-13u {
      width: 31.2rem;
      height: 18.9rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 2.1rem 0.2rem 0rem;

      .dsf9299-ij1 {
        vertical-align: top;
        width: 11.2rem;
        height: 14.9rem;
        position: absolute;
        left: 0;
        top: 4rem;
        object-fit: cover;
      }
      .dsf9313-Tgb {
        height: 14.8rem;
        position: absolute;
        left: 11.3rem;
        top: 4.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 9.9rem;
      }
      .dsf9178-Pq9 {
        vertical-align: top;
        width: 9.8rem;
        height: 14.8rem;
        position: absolute;
        left: 21.4rem;
        top: 4.1rem;
        object-fit: cover;
      }
      .rectangle-34-Kyh {
        background-color: #c6c9c3;
        width: 31.2rem;
        height: 0.8rem;
        position: absolute;
        left: 0;
        top: 2.9rem;
      }
      .style-me-model-ralexa777-agency-visagemodelshungary-photo-cseketamasfoto-Ta7 {
        position: absolute;
        font-weight: 100;
        color: #000000;
        font-family: Outfit, 'Source Sans Pro';
        height: 6.6rem;
        left: 0;
        top: 0;
        font-size: 0.5rem;
        line-height: 13.2;
        white-space: nowrap;
        width: 19.4rem;
      }
    }
    .auto-group-7551-wVH {
      margin: 0rem 0rem 22.7rem 2rem;
      display: flex;
      column-gap: 0.1rem;
      align-items: center;
      flex-shrink: 0;

      .dsf9182-4K1 {
        vertical-align: top;
        flex-shrink: 0;
        width: 10.2rem;
        height: 13.6rem;
        object-fit: cover;
      }
      .dsf9194-QNs {
        width: 10.3rem;
        height: 13.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dsf9274-MJ7 {
        height: 13.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 10.2rem;
      }
    }
    .auto-group-x83h-Vv7 {
      margin: 0rem 1.2rem 0.1rem 1.1rem;
      width: calc(100% - 2.3rem);
      height: 25.7rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-23-1dZ {
        width: 31rem;
        height: 0.8rem;
        position: absolute;
        left: 0;
        top: 2.9rem;
        background-color: #c6c9c3;
      }
      .style-me-model-baranyaiarmin-agency-visagemodelshungary-photo-illyaovcharphoto-hair-thehairs-makeup-zsofihajdumakeup-9Us {
        left: 0;
        line-height: 13.2;
        font-family: Outfit, 'Source Sans Pro';
        font-size: 0.5rem;
        font-weight: 100;
        color: #000000;
        white-space: nowrap;
        width: 30.9rem;
        height: 6.6rem;
        position: absolute;
        top: 0;
      }
      .test-visage-armin0775-full-res-photo-by-illya-ovchar-RSP {
        position: absolute;
        left: 0;
        top: 4rem;
        object-fit: cover;
        vertical-align: top;
        width: 16.3rem;
        height: 21.7rem;
      }
      .test-visage-armin0996-full-res-photo-by-illya-ovchar-jT5 {
        height: 21.7rem;
        position: absolute;
        left: 16.6rem;
        top: 4rem;
        object-fit: cover;
        vertical-align: top;
        width: 14.4rem;
      }
    }
    .auto-group-nk4f-2wy {
      width: calc(100% - 4.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3rem 22.6rem 1.1rem;

      .test-visage-armin1075-full-res-photo-by-illya-ovchar-x4w {
        width: 14.5rem;
        height: 21.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
      }
      .test-visage-armin1130-full-res-photo-by-illya-ovchar-4Ns {
        vertical-align: top;
        flex-shrink: 0;
        width: 14.4rem;
        height: 21.8rem;
        object-fit: cover;
      }
    }
    .auto-group-cchm-ykj {
      margin: 0rem 1.7rem 0.2rem 0.7rem;
      width: calc(100% - 2.4rem);
      height: 18.1rem;
      position: relative;
      flex-shrink: 0;

      .cimg4974-gv3 {
        position: absolute;
        left: 0;
        top: 5.9rem;
        object-fit: cover;
        vertical-align: top;
        width: 9.1rem;
        height: 12.2rem;
      }
      .img3538-cHu {
        position: absolute;
        left: 9.3rem;
        top: 4rem;
        object-fit: cover;
        vertical-align: top;
        width: 9.3rem;
        height: 14.1rem;
      }
      .img3538-2-uno {
        left: 18.8rem;
        top: 4rem;
        object-fit: cover;
        vertical-align: top;
        width: 9.4rem;
        height: 14.1rem;
        position: absolute;
      }
      .rectangle-24-bfd {
        width: 30.9rem;
        height: 0.8rem;
        position: absolute;
        left: 0;
        top: 2.9rem;
        background-color: #e5ddd0;
      }
      .style-me-model-hannabdcs-agency-visagemodelshungary-photo-oliverpetrikovits-7P5 {
        font-weight: 100;
        line-height: 13.2;
        font-family: Outfit, 'Source Sans Pro';
        width: 19.7rem;
        position: absolute;
        left: 0.2rem;
        top: 0;
        font-size: 0.5rem;
        height: 6.6rem;
        color: #000000;
        white-space: nowrap;
      }
    }
    .auto-group-rep9-yRH {
      flex-shrink: 0;
      margin: 0rem 1.6rem 0.5rem 0.7rem;
      width: calc(100% - 2.3rem);
      display: flex;
      column-gap: 0.2rem;
      align-items: center;

      .img3582-editbw-VeX {
        flex-shrink: 0;
        width: 10rem;
        height: 13.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .cimg4863-SJs {
        width: 10.3rem;
        height: 13.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .cimg4882-nNj {
        vertical-align: top;
        flex-shrink: 0;
        width: 10.3rem;
        height: 13.6rem;
        object-fit: cover;
      }
    }
    .auto-group-d7c3-jHy {
      margin: 0rem 6.7rem 31.3rem 0.7rem;
      width: calc(100% - 7.4rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .cimg4918-GHu {
        flex-shrink: 0;
        margin-right: 0.3rem;
        width: 10.3rem;
        height: 13.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .cimg4951-ood {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 15.3rem;
        height: 11.5rem;
      }
    }
    .auto-group-dqb9-MKM {
      width: calc(100% - 2.4rem);
      height: 0.7rem;
      line-height: 1.2;
      color: #000000;
      background-color: #dedad6;
      margin: 0rem 1.7rem 0.2rem 0.7rem;
      box-sizing: border-box;
      padding: 0 0.3rem;
      font-size: 0.5rem;
      font-weight: 100;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-rgz3-DcT {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.6rem 0.3rem 0.7rem;
      width: calc(100% - 2.3rem);
      display: flex;

      .item-33-9m1 {
        width: 10.1rem;
        height: 15.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
      }
      .item-1-HcK {
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 10.1rem;
        height: 15.2rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item-31-1YK {
        width: 10.1rem;
        height: 15.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-4khr-kVu {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 1.6rem 38.1rem 0.7rem;
      width: calc(100% - 2.3rem);
      display: flex;

      .item-13-g8f {
        width: 13.3rem;
        height: 16.3rem;
        position: relative;
        background-size: 100% 133.206%;
        background-position: 0 -5.4063rem;
        background-image: url('REPLACE_IMAGE:430f84b0bea2f19d45e26a96e58fc416f672e7c7');
        flex-shrink: 0;
        margin-right: 0.3rem;
      }
      .item-7-NGP {
        width: 17.4rem;
        height: 11.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-scrd-hpT {
      width: calc(100% - 2.1rem);
      height: 1.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0.6rem 0.6rem;

      .rectangle-25-q9y {
        top: 0;
        background-color: #ebe7e9;
        width: 30.9rem;
        height: 1.3rem;
        position: absolute;
        left: 0;
      }
      .theme-cruella-style-me-gloriabembiczki-model-kincsodezsenyi-agency-freefacesofficial-photo-creativityofamodernview-hair-thehair-makeup-kreizingerfannimakeup-credit-viragkerenyi-richarddemeter-the-newslatter-dress-was-made-by-us-BDq {
        width: 30.9rem;
        font-size: 0.5rem;
        font-weight: 100;
        line-height: 1.2;
        color: #000000;
        font-family: Outfit, 'Source Sans Pro';
        height: 1.2rem;
        position: absolute;
        left: 0.3rem;
        top: 0;
      }
    }
    .auto-group-dkl3-kAT {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.7rem 0.2rem 0.6rem;
      width: calc(100% - 2.3rem);

      .image00006-U6T {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
        width: 10.2rem;
        height: 15.2rem;
        object-fit: cover;
      }
      .image00008-bB5 {
        margin-right: 0.1rem;
        width: 10.2rem;
        height: 15.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .image00007-XKd {
        width: 10.2rem;
        height: 15.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-qcej-Tyy {
      flex-shrink: 0;
      margin: 0rem 1.7rem 43.9rem 0.6rem;
      width: calc(100% - 2.3rem);
      display: flex;
      align-items: center;

      .image00003-Pcj {
        margin-right: 0.3rem;
        width: 10.2rem;
        height: 15.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .image00005-w8T {
        height: 15.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: 10.2rem;
      }
      .image00004-sno {
        width: 10.2rem;
        height: 15.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-6g8o-RJX {
      color: #000000;
      background-color: #fbf4e1;
      width: calc(100% - 2.4rem);
      line-height: 1.2;
      padding: 0 0.3rem;
      font-size: 0.5rem;
      font-weight: 100;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.7rem 0.5rem 0.7rem;
      box-sizing: border-box;
    }
    .auto-group-9kmy-6fZ {
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.2rem 0.9rem;
      width: calc(100% - 2.3rem);
      display: flex;
      align-items: center;

      .test-visage-regina1903-full-res-photo-by--prT {
        height: 21.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 14.5rem;
      }
      .test-visage-regina1540-full-res-photo-by--9dq {
        width: 16.3rem;
        height: 21.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .test-visage-regina2209-full-res-photo-by--spj {
      height: 21.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 17rem 46.3rem 0rem;
      width: 14.5rem;
    }
    .auto-group-bdif-ngo {
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1rem 0.2rem 1.4rem;
      box-sizing: border-box;
      padding: 0 0.3rem;
      font-weight: 100;
      line-height: 1.2;
      width: calc(100% - 2.4rem);
      font-size: 0.5rem;
      font-family: Outfit, 'Source Sans Pro';
      background-color: #dcdbdb;
    }
    .dsc8681-UZd {
      margin: 0rem 0rem 0.6rem 0.6rem;
      width: 30.9rem;
      height: 22.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .dsc8696-zXy {
      flex-shrink: 0;
      margin: 0rem 0rem 41.4rem 0.6rem;
      width: 30.9rem;
      height: 23.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-uiuu-iTy {
      font-family: Outfit, 'Source Sans Pro';
      background-color: #dcdbdb;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 0.3rem;
      width: 32rem;
      font-weight: 100;
      line-height: 1.2;
      margin: 0rem 0rem 0.2rem 0.9rem;
      font-size: 0.5rem;
      color: #000000;
      white-space: nowrap;
    }
    .auto-group-frpk-mx3 {
      flex-shrink: 0;
      margin: 0rem 0rem 0.1rem 0.9rem;
      display: flex;
      align-items: center;

      .dsc7881-UrT {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 10.4rem;
        height: 14.5rem;
      }
      .dsc7914-yoD {
        margin-right: 0.1rem;
        width: 10.4rem;
        height: 14.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dsc7680-uwm {
        vertical-align: top;
        flex-shrink: 0;
        width: 10.9rem;
        height: 14.5rem;
        object-fit: cover;
      }
    }
    .auto-group-z7sf-e8f {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 6.4rem 19.3rem 5.5rem;
      width: calc(100% - 11.9rem);
      display: flex;

      .dsc7776-myy {
        margin-right: 0.1rem;
        width: 10.4rem;
        height: 14.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dsc7842-7H9 {
        vertical-align: top;
        flex-shrink: 0;
        width: 10.9rem;
        height: 14.5rem;
        object-fit: cover;
      }
    }
    .thanks-to-everyone-for-the-opportunities-and-help-FeF {
      font-size: 1.5rem;
      font-weight: 100;
      line-height: 1;
      color: #000000;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 5.4rem 0.6rem;
    }
    .a-kpek-felhasznlsa-engedlykteles-you-need-permission-to-use-the-pictures-9Uj {
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 0.8rem;
      font-size: 0.5rem;
      font-weight: 100;
      line-height: 1.2;
      color: #000000;
    }
  }
  .rectangle-31-d91 {
    background-color: #000000;
    flex-shrink: 0;
    width: 100%;
    height: 0.2rem;
  }
}
