
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.desktop-1-44w {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.desktop-1-44w .rectangle-30-Tcs {
  width: 100%;
  height: 0.2rem;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B {
  box-sizing: border-box;
  padding: 3.8rem 3.6rem 35.7rem 3.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-8wtx-zej {
  margin: 0rem 4.5rem 14.5rem 5.1rem;
  width: calc(100% - 9.6rem);
  height: 13.6rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-8wtx-zej .mrk-maros-button-tEK {
  width: 12.7rem;
  height: 6.6rem;
  position: absolute;
  left: 4.55rem;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 2.75;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-8wtx-zej .below-you-can-see-some-of-my-styling-work-ig-marosmark-based-in-budapest-UyD {
  width: 22.4rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 5.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6666666667;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-h663-XwV {
  margin: 0rem 0.6rem 0.1rem 0.4rem;
  width: calc(100% - 1rem);
  height: 15.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-h663-XwV .rectangle-21-F6o {
  width: 30.9rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  background-color: #e2e2e2;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-h663-XwV .style-me-model-buynaabtb-agency-visagemodelshungary-photo-oliverpetrikovits-9xs {
  width: 19.6rem;
  height: 6.6rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 13.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-h663-XwV .cimg3971-crT {
  width: 11.2rem;
  height: 8.5rem;
  position: absolute;
  left: 0.3rem;
  top: 6.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-h663-XwV .img2220editbw-wNw {
  width: 11.6rem;
  height: 7.7rem;
  position: absolute;
  left: 11.6rem;
  top: 7.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-h663-XwV .img2286-edit-4TZ {
  width: 7.7rem;
  height: 11.6rem;
  position: absolute;
  left: 23.3rem;
  top: 3.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-cn7h-Bo5 {
  margin: 0rem 7.8rem 23.4rem 0.7rem;
  width: calc(100% - 8.5rem);
  height: 11.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-cn7h-Bo5 .img2215-fy9 {
  width: 7.7rem;
  height: 11.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-cn7h-Bo5 .auto-group-iadd-pLF {
  box-sizing: border-box;
  padding-left: 0.1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-cn7h-Bo5 .auto-group-iadd-pLF .img2129-ZHq {
  margin-right: 0.2rem;
  width: 7rem;
  height: 9.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-cn7h-Bo5 .auto-group-iadd-pLF .cimg3979-gtF {
  width: 8.5rem;
  height: 11.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-1gm5-2SK {
  margin: 0rem 0.5rem 0.3rem 0.5rem;
  width: calc(100% - 1rem);
  height: 1.6rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-1gm5-2SK .rectangle-22-YvT {
  width: 31rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f2e8e5;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-1gm5-2SK .theme-schiaparelli-style-me-liluspll-model-bogibauer-agency-visagemodelshungary-photo-fabiansomaa-hair-and-makeup-annapatakimua-credits-gyorok-kissmark-VKu {
  width: 25.8rem;
  height: 1.6rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.6;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-jcij-hRy {
  margin: 0rem 0.5rem 0.6rem 0.5rem;
  width: calc(100% - 1rem);
  height: 11.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-jcij-hRy .auto-group-gmzw-d4j {
  box-sizing: border-box;
  padding-right: 0.3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-jcij-hRy .auto-group-gmzw-d4j .mg7175javitott-ZDH {
  margin-right: 0.3rem;
  width: 7.6rem;
  height: 11.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-jcij-hRy .auto-group-gmzw-d4j .mg7430javitott-goh {
  margin-right: 0.2rem;
  width: 7.4rem;
  height: 11.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-jcij-hRy .auto-group-gmzw-d4j .mg7572javtott-26s {
  width: 7.6rem;
  height: 11.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-jcij-hRy .mg7718javitott-xFR {
  width: 7.6rem;
  height: 11.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-ufew-gBR {
  margin: 0rem 0.5rem 36.2rem 0.5rem;
  width: calc(100% - 1rem);
  height: 21.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-ufew-gBR .auto-group-gqyj-bZH {
  margin-right: 0.2rem;
  width: 15.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-ufew-gBR .auto-group-gqyj-bZH .auto-group-qxdm-w7M {
  margin-bottom: 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-ufew-gBR .auto-group-gqyj-bZH .auto-group-qxdm-w7M .mg8191-GfR {
  margin-right: 0.3rem;
  width: 7.6rem;
  height: 11.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-ufew-gBR .auto-group-gqyj-bZH .auto-group-qxdm-w7M .mg8456-bxb {
  width: 7.4rem;
  height: 11.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-ufew-gBR .auto-group-gqyj-bZH .mg7904-LfH {
  width: 15.3rem;
  height: 10.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-ufew-gBR .mg7962-UmV {
  width: 15.5rem;
  height: 21.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-body-d8b {
  margin-bottom: 0.1rem;
  width: 100%;
  height: 1.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-body-d8b .rectangle-32-a3q {
  width: 32rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #e8e8e8;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-body-d8b .style-me-model-gigorgabriella-agency-visagemodelshungary-photo-oliverpetrikovits-credit-daalarna-WiB {
  width: 24.2rem;
  height: 0.8rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.6;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-g2fq-yLs {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 19.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-g2fq-yLs .auto-group-pqyy-7hy {
  box-sizing: border-box;
  padding: 9.5rem 0.3rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-g2fq-yLs .auto-group-pqyy-7hy .cimg7983-SkF {
  margin-right: 0.2rem;
  width: 7.2rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-g2fq-yLs .auto-group-pqyy-7hy .cimg8028-nZD {
  width: 7.1rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-g2fq-yLs .cimg8042-editbw-Kp3 {
  width: 17.2rem;
  height: 19.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-lxro-fsu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-lxro-fsu .cimg8064glow-crop-ERD {
  margin-right: 0.4rem;
  width: 16.9rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-gdou-k6B .auto-group-lxro-fsu .cimg7960-Apf {
  margin-bottom: 0.1rem;
  width: 14.7rem;
  height: 24rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-m8rb-6TR {
  margin-bottom: 0.1rem;
  width: 100%;
  height: 1.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-m8rb-6TR .rectangle-33-SnB {
  width: 39.3rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #e8e8e8;
}
.desktop-1-44w .auto-group-m8rb-6TR .style-me-model-gigorgabriella-and-danielheisz-agency-visagemodelshungary-photo-hyphotograph-hairmakeup-dorogiblankamua-credit-retrotetikul-Bjm {
  width: 36.3rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.6;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .collage-1-dbm {
  width: 39.3rem;
  height: 22.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd {
  box-sizing: border-box;
  padding: 19.3rem 3.4rem 0.8rem 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bmpm-cCo {
  margin: 0rem 0.8rem 0.3rem 1.5rem;
  width: calc(100% - 2.3rem);
  height: 17.6rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bmpm-cCo .rectangle-20-Woy {
  width: 30.9rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  background-color: #eae3de;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bmpm-cCo .style-me-model-johannaszikszai-agency-visagemodelshungary-photo-oliverpetrikovits-rN3 {
  width: 20.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 13.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bmpm-cCo .img5781-735 {
  width: 10.1rem;
  height: 13.5rem;
  position: absolute;
  left: 0;
  top: 4.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bmpm-cCo .cimg6313-SLF {
  width: 10.1rem;
  height: 13.6rem;
  position: absolute;
  left: 10.4rem;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bmpm-cCo .cimg6294-9VZ {
  width: 10.1rem;
  height: 13.6rem;
  position: absolute;
  left: 20.9rem;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-spr9-GaB {
  margin: 0rem 0.8rem 0.4rem 1.5rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-spr9-GaB .img5737edit-noR {
  margin-right: 0.3rem;
  width: 10.1rem;
  height: 13.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-spr9-GaB .cimg6264-2-vej {
  margin-right: 0.4rem;
  width: 10.1rem;
  height: 13.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-spr9-GaB .cimg6226-rYP {
  width: 10.1rem;
  height: 13.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-pyef-PoD {
  margin: 0rem 0.9rem 37.1rem 1.5rem;
  width: calc(100% - 2.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-pyef-PoD .r1-01528-025a-1-XeX {
  margin-right: 1.2rem;
  width: 14.4rem;
  height: 21.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-pyef-PoD .cimg6274-4eT {
  width: 15.3rem;
  height: 21.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bf5y-13u {
  margin: 0rem 2.1rem 0.2rem 0rem;
  width: 31.2rem;
  height: 18.9rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bf5y-13u .dsf9299-ij1 {
  width: 11.2rem;
  height: 14.9rem;
  position: absolute;
  left: 0;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bf5y-13u .dsf9313-Tgb {
  width: 9.9rem;
  height: 14.8rem;
  position: absolute;
  left: 11.3rem;
  top: 4.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bf5y-13u .dsf9178-Pq9 {
  width: 9.8rem;
  height: 14.8rem;
  position: absolute;
  left: 21.4rem;
  top: 4.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bf5y-13u .rectangle-34-Kyh {
  width: 31.2rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  background-color: #c6c9c3;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bf5y-13u .style-me-model-ralexa777-agency-visagemodelshungary-photo-cseketamasfoto-Ta7 {
  width: 19.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 13.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-7551-wVH {
  margin: 0rem 0rem 22.7rem 2rem;
  display: flex;
  column-gap: 0.1rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-7551-wVH .dsf9182-4K1 {
  width: 10.2rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-7551-wVH .dsf9194-QNs {
  width: 10.3rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-7551-wVH .dsf9274-MJ7 {
  width: 10.2rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-x83h-Vv7 {
  margin: 0rem 1.2rem 0.1rem 1.1rem;
  width: calc(100% - 2.3rem);
  height: 25.7rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-x83h-Vv7 .rectangle-23-1dZ {
  width: 31rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  background-color: #c6c9c3;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-x83h-Vv7 .style-me-model-baranyaiarmin-agency-visagemodelshungary-photo-illyaovcharphoto-hair-thehairs-makeup-zsofihajdumakeup-9Us {
  width: 30.9rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 13.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-x83h-Vv7 .test-visage-armin0775-full-res-photo-by-illya-ovchar-RSP {
  width: 16.3rem;
  height: 21.7rem;
  position: absolute;
  left: 0;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-x83h-Vv7 .test-visage-armin0996-full-res-photo-by-illya-ovchar-jT5 {
  width: 14.4rem;
  height: 21.7rem;
  position: absolute;
  left: 16.6rem;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-nk4f-2wy {
  margin: 0rem 3rem 22.6rem 1.1rem;
  width: calc(100% - 4.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-nk4f-2wy .test-visage-armin1075-full-res-photo-by-illya-ovchar-x4w {
  margin-right: 0.3rem;
  width: 14.5rem;
  height: 21.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-nk4f-2wy .test-visage-armin1130-full-res-photo-by-illya-ovchar-4Ns {
  width: 14.4rem;
  height: 21.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-cchm-ykj {
  margin: 0rem 1.7rem 0.2rem 0.7rem;
  width: calc(100% - 2.4rem);
  height: 18.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-cchm-ykj .cimg4974-gv3 {
  width: 9.1rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-cchm-ykj .img3538-cHu {
  width: 9.3rem;
  height: 14.1rem;
  position: absolute;
  left: 9.3rem;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-cchm-ykj .img3538-2-uno {
  width: 9.4rem;
  height: 14.1rem;
  position: absolute;
  left: 18.8rem;
  top: 4rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-cchm-ykj .rectangle-24-bfd {
  width: 30.9rem;
  height: 0.8rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  background-color: #e5ddd0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-cchm-ykj .style-me-model-hannabdcs-agency-visagemodelshungary-photo-oliverpetrikovits-7P5 {
  width: 19.7rem;
  height: 6.6rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 13.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rep9-yRH {
  margin: 0rem 1.6rem 0.5rem 0.7rem;
  width: calc(100% - 2.3rem);
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rep9-yRH .img3582-editbw-VeX {
  width: 10rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rep9-yRH .cimg4863-SJs {
  width: 10.3rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rep9-yRH .cimg4882-nNj {
  width: 10.3rem;
  height: 13.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-d7c3-jHy {
  margin: 0rem 6.7rem 31.3rem 0.7rem;
  width: calc(100% - 7.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-d7c3-jHy .cimg4918-GHu {
  margin-right: 0.3rem;
  width: 10.3rem;
  height: 13.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-d7c3-jHy .cimg4951-ood {
  width: 15.3rem;
  height: 11.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-dqb9-MKM {
  margin: 0rem 1.7rem 0.2rem 0.7rem;
  box-sizing: border-box;
  padding: 0 0.3rem;
  width: calc(100% - 2.4rem);
  height: 0.7rem;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #dedad6;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rgz3-DcT {
  margin: 0rem 1.6rem 0.3rem 0.7rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rgz3-DcT .item-33-9m1 {
  margin-right: 0.3rem;
  width: 10.1rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rgz3-DcT .item-1-HcK {
  margin-right: 0.4rem;
  width: 10.1rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-rgz3-DcT .item-31-1YK {
  width: 10.1rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-4khr-kVu {
  margin: 0rem 1.6rem 38.1rem 0.7rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-4khr-kVu .item-13-g8f {
  margin-right: 0.3rem;
  width: 13.3rem;
  height: 16.3rem;
  position: relative;
  background-size: 100% 133.206%;
  background-position: 0 -5.4063rem;
  background-image: url('../assets/-FrP.png');
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-4khr-kVu .item-7-NGP {
  width: 17.4rem;
  height: 11.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-scrd-hpT {
  margin: 0rem 1.5rem 0.6rem 0.6rem;
  width: calc(100% - 2.1rem);
  height: 1.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-scrd-hpT .rectangle-25-q9y {
  width: 30.9rem;
  height: 1.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ebe7e9;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-scrd-hpT .theme-cruella-style-me-gloriabembiczki-model-kincsodezsenyi-agency-freefacesofficial-photo-creativityofamodernview-hair-thehair-makeup-kreizingerfannimakeup-credit-viragkerenyi-richarddemeter-the-newslatter-dress-was-made-by-us-BDq {
  width: 30.9rem;
  height: 1.2rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-dkl3-kAT {
  margin: 0rem 1.7rem 0.2rem 0.6rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-dkl3-kAT .image00006-U6T {
  margin-right: 0.3rem;
  width: 10.2rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-dkl3-kAT .image00008-bB5 {
  margin-right: 0.1rem;
  width: 10.2rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-dkl3-kAT .image00007-XKd {
  width: 10.2rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-qcej-Tyy {
  margin: 0rem 1.7rem 43.9rem 0.6rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-qcej-Tyy .image00003-Pcj {
  margin-right: 0.3rem;
  width: 10.2rem;
  height: 15.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-qcej-Tyy .image00005-w8T {
  margin-right: 0.1rem;
  width: 10.2rem;
  height: 15.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-qcej-Tyy .image00004-sno {
  width: 10.2rem;
  height: 15.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-6g8o-RJX {
  margin: 0rem 1.7rem 0.5rem 0.7rem;
  box-sizing: border-box;
  padding: 0 0.3rem;
  width: calc(100% - 2.4rem);
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #fbf4e1;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-9kmy-6fZ {
  margin: 0rem 1.4rem 0.2rem 0.9rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-9kmy-6fZ .test-visage-regina1903-full-res-photo-by--prT {
  margin-right: 0.2rem;
  width: 14.5rem;
  height: 21.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-9kmy-6fZ .test-visage-regina1540-full-res-photo-by--9dq {
  width: 16.3rem;
  height: 21.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .test-visage-regina2209-full-res-photo-by--spj {
  margin: 0rem 17rem 46.3rem 0rem;
  width: 14.5rem;
  height: 21.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-bdif-ngo {
  margin: 0rem 1rem 0.2rem 1.4rem;
  box-sizing: border-box;
  padding: 0 0.3rem;
  width: calc(100% - 2.4rem);
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #dcdbdb;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .dsc8681-UZd {
  margin: 0rem 0rem 0.6rem 0.6rem;
  width: 30.9rem;
  height: 22.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .dsc8696-zXy {
  margin: 0rem 0rem 41.4rem 0.6rem;
  width: 30.9rem;
  height: 23.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-uiuu-iTy {
  margin: 0rem 0rem 0.2rem 0.9rem;
  box-sizing: border-box;
  padding: 0 0.3rem;
  width: 32rem;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #dcdbdb;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-frpk-mx3 {
  margin: 0rem 0rem 0.1rem 0.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-frpk-mx3 .dsc7881-UrT {
  margin-right: 0.2rem;
  width: 10.4rem;
  height: 14.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-frpk-mx3 .dsc7914-yoD {
  margin-right: 0.1rem;
  width: 10.4rem;
  height: 14.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-frpk-mx3 .dsc7680-uwm {
  width: 10.9rem;
  height: 14.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-z7sf-e8f {
  margin: 0rem 6.4rem 19.3rem 5.5rem;
  width: calc(100% - 11.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-z7sf-e8f .dsc7776-myy {
  margin-right: 0.1rem;
  width: 10.4rem;
  height: 14.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .auto-group-z7sf-e8f .dsc7842-7H9 {
  width: 10.9rem;
  height: 14.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .thanks-to-everyone-for-the-opportunities-and-help-FeF {
  margin: 0rem 0rem 5.4rem 0.6rem;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-44w .auto-group-eqek-Yyd .a-kpek-felhasznlsa-engedlykteles-you-need-permission-to-use-the-pictures-9Uj {
  margin-left: 0.8rem;
  font-size: 0.5rem;
  font-weight: 100;
  line-height: 1.2;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-44w .rectangle-31-d91 {
  width: 100%;
  height: 0.2rem;
  background-color: #000000;
  flex-shrink: 0;
}
